/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */


body {
    border: none;
    margin: 0;
    font-family: Myriad, Arial, Helvetica, sans-serif;
}
*, *::before, *::after {
    box-sizing: border-box;
}

button,a,input,select,textarea {
    &:focus {
        box-shadow: none;
        outline: none;
    }
    &:hover {
        box-shadow: none;
        outline: none;
    }
}
  