$color-orange: #bf5800;
$color-darkgrey: #363b3e;
$color-lightgrey: #8a949a;
$color-bg: #f7f7f7;
$color-white: #fff;
$color-black: #000;
$color-grey: #8f989d;
$color-button: #2c88b5;
$color-icon:  #d1d6d9;
$color-fb: #3b5998;
$color-twitter: #55acee;
$color-google: #dc4e41;
$color-rss : #ee802f;

@font-face {
  font-family: Myriad;
  src: url("/assets/fonts/Myriad-Pro-Regular.ttf") format("truetype");
  font-style: normal;
}


